.footer-wrapper>span:nth-child(2) {
  display: none;
}
#app .home-blog .hero{
  height: 450px;
}

@media (max-width: 719px) {
#app .home-blog .hero{
  height:90vh !important;
  background: var(--background-color)!important;
}
}